<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    {% extends 'gifs/base.html' %}
    
    {% block content %}
    <img src="{{ gif.url }}" alt="{{ gif.title }}">
    <p>Likes: {{ gif.likes }}</p>
    <form method="POST" action="{% url 'gifs:like' gif.pk %}">
        {% csrf_token %}
        <button type="submit" name="like" value="1">Like</button>
        <button type="submit" name="like" value="-1">Dislike</button>
    </form>
    {% endblock %}

</body>
</html>